body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #capuchino {
  background-color:whitesmoke
} */

#gustos, #capuchino {
  margin-top: 50px;
}

#capuchino h3 {
  margin: 20px;
}

#especialidades {
  background-image: url("../public/images/home/fondo.jpg");
  /* margin: 50px;*/
  padding: 80px; 
}

.fa-solid {
  color: #d5d5d5;
}

#especialidades h2 {
  color: #502929;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

#especialidades h3 {
  color: #502929;
  margin-top:  50px;
}

